{
    "chmod": "0700",
    "directories": ["./cli", "./application", "./domain"],
    "stub": "bin/orchestra",
    "main": false,
    "output": "bin/orchestra.phar",
    "banner": [
                                                                                  
    ]
}